/* Write your CSS here */
* {
  margin: 0px;
}
.bg-container {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-container {
  background-color: #f8fafc;
  height: 270px;
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-section {
  display: flex;
}
.section {
  width: 150px;
  height: 30px;
  border-color: #cbd2d9;
  background-color: transparent;
  border-width: 1px solid;
  margin-top: 20px;
}
.question {
  color: #000000;
  padding-top: 20px;
}
.country {
  color: #000000;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: bold;
  padding-top: 30px;
}
