.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 20px;
}

.flex-section {
  display: flex;
}
.section {
  width: 150px;
  height: 30px;
  border-color: #cbd2d9;
  background-color: transparent;
  border-width: 1px solid;
  color: #000000;
}
